@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@-webkit-keyframes validate-btn {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes validate-btn {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes display-dishes {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes display-dishes {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes animation-price-box {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes animation-price-box {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes animation-box-btn {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animation-box-btn {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  10%, 20% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
  30%, 40% {
    -webkit-transform: rotate(160deg);
            transform: rotate(160deg);
  }
  50%, 60% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
  70%, 80% {
    -webkit-transform: rotate(290deg);
            transform: rotate(290deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  10%, 20% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
  30%, 40% {
    -webkit-transform: rotate(160deg);
            transform: rotate(160deg);
  }
  50%, 60% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }
  70%, 80% {
    -webkit-transform: rotate(290deg);
            transform: rotate(290deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
  background-color: rgba(241, 238, 238, 0.63);
}

.restaurants h1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.restaurants h2 {
  padding: 0;
}

.restaurants-box {
  height: 20%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  margin-bottom: 40px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.restaurants-box-desktop-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.restaurants-box-img-box {
  position: relative;
}

.restaurants-box-img-box img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  position: relative;
  z-index: 1;
  -webkit-transition: -webkit-filter 500ms ease-in-out;
  transition: -webkit-filter 500ms ease-in-out;
  transition: filter 500ms ease-in-out;
  transition: filter 500ms ease-in-out, -webkit-filter 500ms ease-in-out;
}

.restaurants-box-img-box span {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 3;
  padding: 12px 17px;
  background-color: #99E2D0;
  color: #0e9b78;
  font-weight: 500;
}

.restaurants-box-txt-heart-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.restaurants-box-txt-heart-boxes h2 {
  font-size: 18px;
  margin-bottom: 2px;
  margin-top: 0;
}

.restaurants-box-txt-heart-boxes span {
  margin-top: 0;
  font-size: 17px;
  font-weight: 300;
}

.restaurants-box-heart-box {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.restaurants-box-heart-box:hover > .heart-back {
  opacity: 1;
}

.restaurants-box-heart-box:hover > .heart-border {
  opacity: 0;
}

.restaurants-box-heart-box i {
  font-size: 24px;
}

.restaurants-box-heart-box .heart-back {
  position: absolute;
  top: -20px;
  right: 10px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  opacity: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.8)), to(rgba(255, 121, 218, 0.8)));
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.8), rgba(255, 121, 218, 0.8));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurants-box-heart-box .heart-border {
  top: -20px;
  position: absolute;
  right: 10px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  opacity: 1;
}

@media screen and (max-width: 2000px) and (min-width: 993px) {
  .restaurants-box-desktop-div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .restaurants-box-desktop-div .restaurants-box {
    margin-top: 30px;
    margin-bottom: 60px;
    width: 49%;
  }
  .restaurants-box-desktop-div .restaurants-box:hover {
    -webkit-box-shadow: rgba(100, 100, 111, 0.8) 4px 4px 4px 0;
            box-shadow: rgba(100, 100, 111, 0.8) 4px 4px 4px 0;
  }
  .restaurants-box-desktop-div .restaurants-box:hover > a .restaurants-box-img-box img {
    -webkit-filter: saturate(150%);
            filter: saturate(150%);
  }
}

.load-spinner {
  border: 30px solid #cec8c8;
  border-top: 30px solid #9356DC;
  padding: 20%;
  -webkit-transform: scale(0);
          transform: scale(0);
  position: absolute;
  top: -10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: spin 3s linear;
          animation: spin 3s linear;
}

header {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  -webkit-box-shadow: 2px 2px 2px rgba(83, 83, 83, 0.63);
          box-shadow: 2px 2px 2px rgba(83, 83, 83, 0.63);
}

header img {
  height: 30px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location {
  text-align: center;
  padding-top: 20px;
  background-color: rgba(228, 224, 224, 0.63);
  padding-bottom: 20px;
  font-weight: 400;
}

.location i {
  position: relative;
  margin: auto 2px;
  left: -20px;
}

.location span {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

.exploration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(245, 245, 245, 0.63);
  padding-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}

.exploration .exploration-text {
  text-align: center;
}

.exploration .exploration-text h1 {
  padding-top: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.exploration .exploration-text p {
  color: black;
  font-weight: 300;
  margin-bottom: 40px;
}

.exploration a {
  color: white;
  padding: 18px 18px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  -webkit-box-shadow: 2px 2px 2px #979595;
          box-shadow: 2px 2px 2px #979595;
}

.exploration a:hover {
  -webkit-box-shadow: 6px 6px 6px #979595;
          box-shadow: 6px 6px 6px #979595;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a16be0), to(#ff93e1));
  background-image: linear-gradient(to top, #a16be0, #ff93e1);
}

.functioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
}

.functioning h1 {
  margin-bottom: 30px;
}

.functioning li {
  background-color: #f5f4f4;
  width: 100%;
  padding: 30px 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 2px 2px 2px #eceaea;
          box-shadow: 2px 2px 2px #eceaea;
  border-radius: 15px;
}

.functioning li:hover {
  -webkit-box-shadow: 4px 4px 4px #eceaea;
          box-shadow: 4px 4px 4px #eceaea;
  background-color: #f2eafb;
}

.functioning li span {
  position: relative;
  right: 20px;
  padding: 5px 10px;
  background-color: #9356DC;
  border-radius: 25px;
  color: white;
}

.functioning li i {
  font-size: 22px;
  color: #686767;
  margin-right: 20px;
}

@media screen and (max-width: 2000px) and (min-width: 993px) {
  .functioning ul {
    padding: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .functioning ul :nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
  }
  .functioning li {
    display: inline-block;
    text-align: center;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .functioning ul {
    text-align: center;
  }
  .functioning ul li {
    position: relative;
    display: inline-block;
  }
  .functioning span {
    margin-right: 10px;
  }
  .functioning .span-2 {
    margin-right: 20px;
  }
  .functioning .span-3 {
    margin-right: 7px;
  }
}

footer {
  background-color: #3d3c3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

footer a {
  color: white;
  margin: 6px;
}

footer a
img {
  height: 15px;
  color: white;
}

footer i[class="fas fa-utensils"] {
  padding-right: 14px;
}

footer i[class*="helping"] {
  padding-right: 8px;
}

footer .link__logo {
  margin-bottom: 30px;
}

footer .link__shirk {
  font-family: 'Shrikhand';
}

@media screen and (max-width: 2000px) and (min-width: 993px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .link__shirk {
    position: relative;
    top: 15px;
  }
  footer a:not(:nth-child(1)):hover {
    text-decoration: underline;
  }
  footer a:nth-child(2) i {
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  }
  footer a:nth-child(2):hover i {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  footer a:nth-child(3) i {
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  }
  footer a:nth-child(3):hover i {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-menu i {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: absolute;
  left: 30px;
  font-size: 24px;
}

@media screen and (max-width: 2000px) and (min-width: 993px) {
  .header-menu {
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.restaurant-picture {
  position: absolute;
  z-index: 0;
  top: 0px;
  height: 350px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  margin-bottom: 0;
}

.restaurant-picture img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.restaurant-menu {
  margin-top: -120px;
  background-color: #eeecec;
  padding: 30px 20px;
  border-radius: 40px 40px 0 0;
  z-index: 1;
}

.restaurant-menu h1 {
  font-family: 'Shrikhand';
  font-size: 26px;
}

.restaurant-menu-starters :nth-child(2), .restaurant-menu-dishes :nth-child(2), .restaurant-menu-desserts :nth-child(2) {
  margin-bottom: 20px;
}

.restaurant-menu-starters :nth-child(3), .restaurant-menu-dishes :nth-child(3), .restaurant-menu-desserts :nth-child(3) {
  margin-bottom: 20px;
}

.restaurant-menu-starters :nth-child(4), .restaurant-menu-dishes :nth-child(4), .restaurant-menu-desserts :nth-child(4) {
  margin-bottom: 20px;
}

.restaurant-menu-starters :nth-child(5), .restaurant-menu-dishes :nth-child(5), .restaurant-menu-desserts :nth-child(5) {
  margin-bottom: 20px;
}

.restaurant-menu-name-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant-menu-name-heart i {
  margin-right: 30px;
  font-size: 30px;
}

@media screen and (max-width: 2000px) and (min-width: 993px) {
  .restaurant-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.restaurant-menu-headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}

.restaurant-menu-headers h2 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 16px;
  padding-bottom: 0;
  margin-bottom: 4px;
}

.restaurant-menu-headers::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}

@media screen and (max-width: 2082px) and (min-width: 768px) {
  .restaurant-menu-header h2 {
    font-size: 20px;
  }
}

.restaurant-box-item {
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  opacity: 1;
  overflow: hidden;
  position: relative;
}

.restaurant-box-item.rb__delay {
  -webkit-animation-name: display-dishes;
          animation-name: display-dishes;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.restaurant-box-item.rb__delay--1 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.restaurant-box-item.rb__delay--2 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.restaurant-box-item.rb__delay--3 {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.restaurant-box-item.rb__delay--4 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

.restaurant-box-item:hover > .item-validate-btn {
  -webkit-animation: animation-box-btn 500ms ease forwards;
          animation: animation-box-btn 500ms ease forwards;
}

.restaurant-box-item:hover > .item-validate-btn i {
  -webkit-animation: validate-btn 500ms 150ms;
          animation: validate-btn 500ms 150ms;
}

.restaurant-box-item:hover > .item-info p, .restaurant-box-item:hover > .item-info h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 75%;
}

.restaurant-box-item:hover > .item-price {
  -webkit-animation: animation-price-box 500ms forwards;
          animation: animation-price-box 500ms forwards;
}

.restaurant-box-item .item-info {
  background-color: white;
  width: 83%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.restaurant-box-item .item-info h3 {
  font-size: 18px;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 500;
}

.restaurant-box-item .item-info h3, .restaurant-box-item .item-info p {
  padding-left: 15px;
  padding-right: 20px;
}

.restaurant-box-item .item-info p {
  font-size: 16px;
  margin-top: 5px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 300;
}

.restaurant-box-item .item-price {
  width: 17%;
  height: 100%;
  background-color: white;
  text-align: center;
}

.restaurant-box-item .item-price span {
  position: relative;
  top: 40px;
  font-size: 14px;
  font-weight: 600;
}

.restaurant-box-item .item-validate-btn {
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 17%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: right;
          transform-origin: right;
  margin: 0;
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.restaurant-box-item .item-validate-btn i {
  border-radius: 25px;
  color: #99E2D0;
  background-color: white;
  font-size: 14px;
  bottom: 8px;
  padding: 3px;
}

@media screen and (max-width: 2000px) and (min-width: 993px) {
  .restaurant-box-item {
    height: 90px;
  }
  .restaurant-box-item h3 {
    font-size: 22px;
  }
  .restaurant-box-item p {
    font-size: 18px;
  }
  .restaurant-box-item .item-price span {
    font-size: 16px;
  }
}

.restaurant-order {
  background-color: #eeecec;
  text-align: center;
}

.restaurant-order a {
  margin-top: 10px;
  margin-bottom: 100px;
  display: inline-block;
  color: white;
  padding: 16px 45px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  -webkit-box-shadow: 2px 2px 2px #575656;
          box-shadow: 2px 2px 2px #575656;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to bottom, #9356dc, #ff79da);
}

.restaurant-order a:hover {
  -webkit-box-shadow: 4px 4px 4px #555555;
          box-shadow: 4px 4px 4px #555555;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a16be0), to(#ff93e1));
  background-image: linear-gradient(to bottom, #a16be0, #ff93e1);
}

@media screen and (max-width: 2000px) and (min-width: 993px) {
  .restaurant-order a {
    font-size: 18px;
  }
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */