.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;

    i {
        align-self: flex-start;
        position: absolute;
        left: 30px;
        font-size: 24px;
    }
   
}


@media screen and (max-width: $max-desktop-width) and (min-width:$min-desktop-width){

    .header-menu {
       position: fixed;
       z-index: 3;
       width: 100%;
       background-color: rgba(255, 255, 255, 0.8);
    }

    
}


