.restaurant-picture {
   
    position: absolute;
    z-index: 0;
    top: 0px;

    height: 350px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    margin-bottom: 0;
    
    
    img {
        object-fit: cover;
        max-width: 100%;
        
    }

}