.restaurant-menu-headers{

    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    

    h2{
        text-transform: uppercase;
        font-weight: 200;
        font-size: 16px;

        padding-bottom: 0;
        margin-bottom: 4px;   
    }

    &::after {
        content:"";
        position: absolute;
        top:40px;
        left:0;

        width: 40px;
        height:3px;
        background-color: $tertiary-color;
    }


}

@media screen and (max-width: 2082px) and (min-width:768px){

    .restaurant-menu-header {
        h2 {
            font-size: 20px;
        }


       
    }

    

    
}


