.restaurant-menu-headers{

    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    h2{
        text-transform: uppercase;
        font-weight: 200;
        font-size: 18px;

        padding-bottom: 0;
        margin-bottom: 4px;   
    }

    &::after {
        content:"";
        width: 30px;
        height:3px;
        background-color: $tertiary-color;
    }


}