.restaurant-box-item{


   
    border-radius: 25px;
    background-color: #99E2D0;

    // proprité nécessaire car la hauteur des box doit être limitée
    height: 80px;
    width: 100%;




    // proprités nécessaires pour la direction dans laquelle se rangent des différentes box intérieures 
    display: flex;
    flex-direction: row;
   
    

   
  
    // propriété nécessaire compte tenu de l'animation @keyframes display-dishes qui joue sur valeur de l'opacité
    opacity: 1;

    //propriété nécessaire car la box-info aurait dépassé le cadre de la box actuelle 
    overflow: hidden;
  
    //mécanique d'affiche des différentes options une par une 
    &.rb__delay{
        animation-name: display-dishes;
        animation-duration: 2s;
        animation-fill-mode: backwards;
        @for $i from 1 through 4 {
            &--#{$i} {
                animation-delay: $i *  $tr-dur;
            }
        }

       

    }



    // fin de la mécanique d'affichage des options 
        
    &:hover {

        // animation css du bouton de validation qui existe mais en none display dans la box 
        & > .item-validate-btn {
            display: flex;
            
            animation: animation-btn 500ms ease;

            i{
                animation: validate-btn 500ms 150ms;
            }
        }

    
       
        & > .item-info {  
    
           p{   
                text-overflow: ellipsis;
            }    

        }
        
    }


    // ---------------------------------------partie liée à box information 
    .item-info{
    
       
        background-color: white;
        width:80%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
        
        overflow: hidden;
        

        h3{
        
            font-size: 18px;
            padding-top: 0;
            margin-bottom: 0;
            margin-top: 0;

        }
       
        h3, p{
            padding-left: 20px;
            padding-right: 20px;
        }

        p {
           
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
        
            font-size: 14px;
            margin-top: 10px;
            padding-bottom: 0;
            margin-bottom: 0;
            
        }

     
        
    }

    //------------------------------------------------------ PARTIE LIEE A LA BOX DU PRIX --------------------
    .item-price {

        width: 20%;
        height: 100%;
        background-color: white;
        text-align: center;
        
        

        


      
        
        
        // proprités liées au span d'affiche du prix 
        span {
            position: relative;
            top:40px;
            font-size: 14px;
            font-weight: 600;
        }
     
       
       
        
      
    }

    //-----------------------------------------------PARTIE LIEE A LA BOX AVEC LE SIGNE DE VALIDATION-----------------
    .item-validate-btn{


        background-color: $tertiary-color;
        transition-property: display 2s ease;
       
      



       
       // proprités nécessaires à la position du bouton de validation dans la box de validation
       display: none;
       width: 20%;
       justify-content: center;
       align-items: center;
       
       
       
    
       // propriétés de l'icone  de validation
       i {
            border-radius: 25px;
            color: $tertiary-color;
            background-color: white;
            
            bottom: 8px;
            padding: 3px; 
                
       }

       

    }


    


}
