@keyframes validate-btn {

    0% {
        transform: rotate(0deg);
        
    }

    100% {
        transform: rotate(360deg);
        
    }
    
}

@keyframes display-dishes {
    from {
        opacity: 0;
        transform: translateY(10px);
        
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes animation-btn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes animation-price-box {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


@keyframes animation-progressing-purple-heart {

    0% {
        transform: scaleY(0.2);
    }

    30% {
        transform: scaleY(0.4);
    }

    60% {
        transform: scaleY(0.6);
    }

    100% {
        transform: scaleY(1);
    }
}