$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$tr-dur: 500ms;

$max-desktop-width: 2000px;
$min-desktop-width: 993px;

$max-tablet-width: 992px;
$min-tablet-width: 768px;