.functioning {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;

    h1 {
        margin-bottom: 30px;
    }
    ul {

        display: flex;
        flex-direction: column;
        justify-content: center;

        li {
    
            width: 100%;
            height: 30%;
            padding : 30px 10px;
            margin-bottom: 20px;
            border-radius: 15px;
            background-color: rgba(245, 244, 244, 63%);
            box-shadow: 2px 2px 2px rgb(236, 234, 234);
            &:hover {
                box-shadow: 4px 4px 4px rgb(236, 234, 234);
                background-color:  lighten($primary-color, 35%);
                cursor: pointer;
            }
    
            a {
    
                
                height: 100%;
                width: 100%;
               
    
               
                span{
                    position: relative;
                    right: 20px;
                    padding: 5px 10px;
                    background-color: $primary-color;
                    border-radius: 25px;
                    color: white;
                }
        
                i {
                    font-size: 22px;
                    color: rgb(104, 103, 103);
                    margin-right: 20px;
                }
        
    
    
    
            }
          
    
            
        }
     

    }
   


    

}


@media screen and(min-width:$min-desktop-width){

    .functioning {
        
        ul {
            padding: 0px;
            flex-direction: row;
            justify-content: space-between;
            display: flex;

            :nth-child(2){
                margin-left: 10px;
                margin-right: 10px;
            }

            a {
                width: 100%;
       
            }
             
        }

        li {
                
            
            text-align: center;
           
        }
    }
        

}


@media screen and (max-width: $max-tablet-width) and (min-width: $min-tablet-width){

    .functioning {
       

        ul {
           text-align: center;
          
           
           li {
            position: relative;
            display: inline-block;
           
            
           }
        }
        span {
            margin-right: 10px;
        }

        .span-2 {
            margin-right: 20px;
        }

        .span-3 {
            margin-right: 7px;
        }
    }
    
}