.location {
    text-align: center;
    padding-top: 20px;
    background-color: rgba(228, 224, 224, 0.63);;
    padding-bottom: 20px;
    
    font-weight: 400;
    

    i{
       position: relative;
       margin: auto 2px;
       left: -20px;

    }

    span {
        color: rgba(0, 0, 0, 0.6);
        font-weight: 500;
    }
}